@page "/Profile"
@attribute [Authorize]

<PageTitle>SkyPanel — Profile</PageTitle>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>Profile</h2>

            <div class="col-md-2">
                <img src="@Picture"
                     alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-md-4">
                <h3>@Username</h3>
                <p>
                    <i class="bi bi-envelope"></i> @EmailAddress
                </p>
            </div>
            <div>
                <ul class="list-group">
                    @if (Roles.Length > 0)
                    {
                        @foreach (var role in Roles)
                        {
                            <li class="list-group-item">
                                <i class="bi bi-person-badge"></i> @role
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item text-muted">No roles assigned</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    private string Username = "";
    private string EmailAddress = "";
    private string Picture = "";
    private string[] Roles = [];
    
    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var state = await authenticationState;

            Username = state?.User?.Identity?.Name ?? string.Empty;
            
            EmailAddress = state.User.Claims
                .Where(c => c.Type.Equals(System.Security.Claims.ClaimTypes.Email))
                .Select(c => c.Value)
                .FirstOrDefault() ?? string.Empty;

            Picture = state.User.Claims
                .Where(c => c.Type.Equals("picture"))
                .Select(c => c.Value)
                .FirstOrDefault() ?? string.Empty;
            
            Roles = state.User.Claims
                .Where(c => c.Type.Equals(System.Security.Claims.ClaimTypes.Role))
                .Select(c => c.Value)
                .ToArray();
        }
    }
}

