<h3>Dashboard Component</h3>

<MudText>@_name</MudText>

<MudButton OnClick="@(() => { 
    PrintName();
    SetName("testName");
    PrintName();
})"> Set Name </MudButton>

@code {
   //string testName = "name";
}